# license
include LICENSE

# requirements
include requirements.txt

# templates
recursive-include test_history_server/templates *.html *.txt *.xml

# static files
recursive-include public/static *
