{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: {{repo.owner}} / {{repo.name}} / {{classname}} / {{case}}{% endblock %}
{% block page_title %}
<a href="{% url 'owner' owner=repo.owner %}">{{repo.owner}}</a>
 / <a href="{% url 'repo' owner=repo.owner repo=repo.name %}">{{repo.name}}</a>
 / <a href="{% url 'classname' owner=repo.owner repo=repo.name classname=classname %}">{{classname}}</a>
 / <a href="{% url 'case' owner=repo.owner repo=repo.name classname=classname case=case %}">{{case}}</a>
{% endblock %}

{% block content %}
<table cellpadding=0 cellspacing=0>
  <thead>
    <tr>
      <th>Build</th>
      <th>Report</th>
      <th>Branch</th>
      <th>Revision</th>
      <th>Date</th>
      <th>Result</th>
      <th>Time (s)</th>
    </tr>
  </head>
  <tbody>
    {% for case in cases %}
      {% with report=case.test_suite.report %}
    <tr>
      <td><a href="{% url 'build' owner=repo.owner repo=repo.name build=report.build_number %}">{{report.build_number}}</a></td>
      <td><a href="{% url 'report' owner=repo.owner repo=repo.name build=report.build_number report=report.name %}">{{report.name}}</a></td>
      <td><a href="https://github.com/{{repo.owner}}/{{repo.name}}/tree/{{report.repository_branch}}">{{report.repository_branch}}</a></td>
      <td><a href="https://github.com/{{repo.owner}}/{{repo.name}}/commit/{{report.repository_revision}}">{{report.repository_revision|truncatechars:7}}</a></td>
      <td>{{report.date|date:"Y-m-d H:i:s"}}</td>
      <td><span{% if case.result == 'error' or case.result == 'failure' %} class="alert"{% endif %}>{{case.result|capfirst}}<span></td>
      <td>{{case.time|floatformat:3}}</td>
    </tr>
      {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
