{% extends "base.html" %}

{% load static %}

{% block page_title %}Test reports{% endblock %}

{% block content %}
<h4>Statistics</h4>
<ul>
  <li>Users/organizations: {{owners|length}}</li>
  <li>Repositories: {{statistics.repositories}}</li>
</ul>

<h4>Users/organizations</h4>
<table cellpadding=0 cellspacing=0 id="index">
  <thead>
    <tr>
      <th>User/organization</th>
      <th>Version control system</th>
      <th>Repositories</th>
    </tr>
  </thead>
  <tbody>
  {% for owner in owners %}
    <tr>
      <td><a href="https://github.com/{{ owner.owner }}">{{ owner.owner }}</a></td>
      <td><a href="https://github.com/">GitHub</a></td>
      <td><a href="{% url 'owner' owner=owner.owner %}">{{owner.repositories}}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
