cement
configparser
Django
mysqlclient
pbr # needed by sphinxcontrib-spelling and must be installed first for Python 2
robpol86-sphinxcontrib-googleanalytics
six
Sphinx >= 1.6
sphinx_rtd_theme
sphinxcontrib-bibtex
sphinxcontrib-spelling
